In [1]:
library(xml2)
library(rvest)
library(ggplot2)
library(dplyr)

Attaching package: 'dplyr'

The following objects are masked from 'package:stats':

    filter, lag

The following objects are masked from 'package:base':

    intersect, setdiff, setequal, union

In [2]:
# define a function : scrapping each year payrol
# given url vectors ,the function will scrape each url and it's node ,and return the data.frame 
crawler_each_year <- function(url,node,colname_node){
    rd <- read_html(url)
    node_name <- html_nodes(rd,node)
    text <- html_text(node_name)
    
    #  turn text vector into frame data.frame
    tmp_row <- character()
    frame <- data.frame(matrix(ncol = 8),stringsAsFactors=FALSE)

    for (i in 1 : length(text)){
        if(i %% 8 != 0 ){
            tmp_row <- c(tmp_row,text[i])
        }
        else{
           tmp_row <- c(tmp_row,text[i])
           frame <- rbind(frame,tmp_row)
           tmp_row <- character() 
        }
    }
    # remove the row with NA value
    frame <- frame[complete.cases(frame),]
    
    # frame is the data.frame without the colnames,colnames need to be added
    node_colname <- html_nodes(rd,colname_node)
    colname <- html_text(node_colname)
    if(length(colname) != 8){
        stop("colname is wrong !!")
    }
    colnames(frame) <- colname
    # rank the Team
    frame <- frame %>% mutate(Rank = row_number())
    return(frame)
}
# test
x <- crawler_each_year("https://www.spotrac.com/mlb/payroll/2011/",".result , td.xs-hide , .noborderleft","#payroll , #susp , #buried , #dead , #ir , #active , #players , #team")
head(x,20)

   Team                          Roster 25-Man Payroll Injured Reserve
1  New York Yankees              41     $212,609,678   0-
2  Boston Red Sox                47     $164,517,590   0-
3  Philadelphia Phillies         38     $169,799,882   0-
4  Los Angeles Angels of Anaheim 38     $133,613,959   0-
5  New York Mets                 38     $96,163,418    0-
6  Chicago Cubs                  40     $124,652,698   0-
7  Chicago White Sox             40     $123,584,951   0-
8  San Francisco Giants          39     $124,882,250   0-
9  Los Angeles Dodgers           41     $98,679,615    0-
10 St. Louis Cardinals           39     $113,348,748   0-
11 Minnesota Twins               29     $106,871,000   0-
12 Detroit Tigers                36     $111,271,015   0-
13 Texas Rangers                 39     $99,272,920    0-
14 Seattle Mariners              42     $88,907,834    0-
15 Atlanta Braves                43     $98,521,630    0-
16 Baltimore Orioles             49     $94,391,741    0-
17 Milwaukee Brewers             45     $92,127,802    0-
18 Houston Astros                42     $72,098,000    0-
19 Colorado Rockies              32     $77,731,972    0-
20 Cincinnati Reds               38     $79,612,874    0-
   Retained    Buried   Suspended 2011 Total Payroll Rank
1  $950,000    0-       0-        $213,559,678        1
2  $8,239,278  0-       0-        $172,553,261        2
3  $168,300    0-       0-        $169,968,182        3
4  $13,034,600 0-       0-        $146,648,559        4
5  $45,668,423 0-       0-        $141,831,841        5
6  $14,825,000 0-       0-        $139,477,698        6
7  $7,038,798  0-       0-        $130,623,749        7
8  $1,100,000  0-       0-        $125,982,250        8
9  $19,989,000 0-       0-        $118,668,615        9
10 $2,808,564  $700,000 0-        $116,857,312       10
11 $7,108,594  0-       0-        $113,979,594       11
12 $250,000    0-       0-        $111,521,015       12
13 $4,468,801  0-       0-        $103,741,721       13
14 $12,521,314 0-       0-        $101,429,148       14
15 $1,308,600  0-       0-        $99,830,230        15
16 0-          0-       0-        $94,391,741        16
17 0-          0-       0-        $92,127,802        17
18 $13,476,503 0-       0-        $85,574,503        18
19 $5,530,198  0-       0-        $83,262,170        19
20 $2,307,672  0-       0-        $81,920,546        20

In [3]:
# I want to scrapping mulitiple page of data 
# the url problem need to be tackled
# today I just want to get the Boston Red Sox data  from 2011 to 2018
# 2015 url :https://www.spotrac.com/mlb/boston-red-sox/payroll/2015/


url_vect <- rep("https://www.spotrac.com/mlb/payroll/20",8)
tail_num <- 11:18
url_vect <- paste(url_vect,tail_num,sep = "") %>% paste("/",sep = "")
url_vect <- c(url_vect,"https://www.spotrac.com/mlb/payroll/")
print(url_vect)

[1] "https://www.spotrac.com/mlb/payroll/2011/"
[2] "https://www.spotrac.com/mlb/payroll/2012/"
[3] "https://www.spotrac.com/mlb/payroll/2013/"
[4] "https://www.spotrac.com/mlb/payroll/2014/"
[5] "https://www.spotrac.com/mlb/payroll/2015/"
[6] "https://www.spotrac.com/mlb/payroll/2016/"
[7] "https://www.spotrac.com/mlb/payroll/2017/"
[8] "https://www.spotrac.com/mlb/payroll/2018/"
[9] "https://www.spotrac.com/mlb/payroll/"

In [4]:
each_year_payrol <- list()
tmp_frame <- data.frame()
for(i in 1:length(url_vect)){
    tmp_frame <- crawler_each_year(url_vect[i],".result , td.xs-hide , .noborderleft","#payroll , #susp , #buried , #dead , #ir , #active , #players , #team")
    
    if(i == 1){
        print(class(tmp_frame))
    }
    #each_year_payrol <- c(each_year_payrol,tmp_frame)  
    # list append data.frame is wrong,it's turn each row in dataframe into vector then append to list 
    # solution :
    each_year_payrol <- append(each_year_payrol,list(tmp_frame))  
    tmp_frame <- data.frame()
}
str(each_year_payrol)
x<- each_year_payrol

[1] "data.frame"
List of 9
 $ :'data.frame':	30 obs. of  9 variables:
  ..$ Team              : chr [1:30] "New York Yankees" "Boston Red Sox" "Philadelphia Phillies" "Los Angeles Angels of Anaheim" ...
  ..$ Roster            : chr [1:30] "41" "47" "38" "38" ...
  ..$ 25-Man Payroll    : chr [1:30] "$212,609,678" "$164,517,590" "$169,799,882" "$133,613,959" ...
  ..$ Injured Reserve   : chr [1:30] "0-" "0-" "0-" "0-" ...
  ..$ Retained          : chr [1:30] "$950,000" "$8,239,278" "$168,300" "$13,034,600" ...
  ..$ Buried            : chr [1:30] "0-" "0-" "0-" "0-" ...
  ..$ Suspended         : chr [1:30] "0-" "0-" "0-" "0-" ...
  ..$ 2011 Total Payroll: chr [1:30] "$213,559,678" "$172,553,261" "$169,968,182" "$146,648,559" ...
  ..$ Rank              : int [1:30] 1 2 3 4 5 6 7 8 9 10 ...
 $ :'data.frame':	31 obs. of  9 variables:
  ..$ Team              : chr [1:31] "New York Yankees" "Philadelphia Phillies" "Boston Red Sox" "Los Angeles Angels of Anaheim" ...
  ..$ Roster            : chr [1:31] "42" "45" "47" "36" ...
  ..$ 25-Man Payroll    : chr [1:31] "$214,396,932" "$169,582,490" "$168,455,280" "$153,844,690" ...
  ..$ Injured Reserve   : chr [1:31] "0-" "0-" "0-" "0-" ...
  ..$ Retained          : chr [1:31] "$14,098,524" "$10,318,033" "$6,823,771" "$3,323,935" ...
  ..$ Buried            : chr [1:31] "0-" "0-" "0-" "0-" ...
  ..$ Suspended         : chr [1:31] "0-" "0-" "0-" "0-" ...
  ..$ 2012 Total Payroll: chr [1:31] "$228,495,456" "$179,900,523" "$175,279,051" "$157,168,625" ...
  ..$ Rank              : int [1:31] 1 2 3 4 5 6 7 8 9 10 ...
 $ :'data.frame':	30 obs. of  9 variables:
  ..$ Team              : chr [1:30] "Los Angeles Dodgers" "New York Yankees" "Boston Red Sox" "Philadelphia Phillies" ...
  ..$ Roster            : chr [1:30] "39" "39" "41" "40" ...
  ..$ 25-Man Payroll    : chr [1:30] "$207,344,759" "$207,768,301" "$155,978,895" "$153,273,261" ...
  ..$ Injured Reserve   : chr [1:30] "$505,000" "$14,900,000" "$7,040,000" "$1,755,291" ...
  ..$ Retained          : chr [1:30] "$25,747,116" "$14,645,450" "$5,340,903" "$8,307,527" ...
  ..$ Buried            : chr [1:30] "$7,977,500" "$3,008,675" "$3,630,000" "$980,000" ...
  ..$ Suspended         : chr [1:30] "0-" "0-" "0-" "0-" ...
  ..$ 2013 Total Payroll: chr [1:30] "$239,894,375" "$239,288,940" "$170,734,264" "$163,536,898" ...
  ..$ Rank              : int [1:30] 1 2 3 4 5 6 7 8 9 10 ...
 $ :'data.frame':	30 obs. of  9 variables:
  ..$ Team              : chr [1:30] "Los Angeles Dodgers" "New York Yankees" "Philadelphia Phillies" "Detroit Tigers" ...
  ..$ Roster            : chr [1:30] "35" "37" "30" "35" ...
  ..$ 25-Man Payroll    : chr [1:30] "$234,067,142" "$198,020,464" "$145,123,014" "$147,009,969" ...
  ..$ Injured Reserve   : chr [1:30] "$1,500,000" "0-" "$25,000,000" "$17,310,000" ...
  ..$ Retained          : chr [1:30] "$7,100,000" "$16,763,048" "$4,263,731" "$7,255,247" ...
  ..$ Buried            : chr [1:30] "$3,700,000" "$1,022,125" "$3,500,000" "$1,504,000" ...
  ..$ Suspended         : chr [1:30] "0-" "0-" "0-" "0-" ...
  ..$ 2014 Total Payroll: chr [1:30] "$246,367,142" "$214,898,031" "$175,061,605" "$171,996,220" ...
  ..$ Rank              : int [1:30] 1 2 3 4 5 6 7 8 9 10 ...
 $ :'data.frame':	30 obs. of  9 variables:
  ..$ Team              : chr [1:30] "Los Angeles Dodgers" "New York Yankees" "San Francisco Giants" "Boston Red Sox" ...
  ..$ Roster            : chr [1:30] "38" "40" "36" "35" ...
  ..$ 25-Man Payroll    : chr [1:30] "$199,977,688" "$187,271,441" "$133,109,385" "$95,030,446" ...
  ..$ Injured Reserve   : chr [1:30] "$20,914,084" "$24,415,379" "$38,423,837" "$42,985,571" ...
  ..$ Retained          : chr [1:30] "$70,324,195" "$9,939,561" "$12,322,089" "$45,443,277" ...
  ..$ Buried            : chr [1:30] "$16,826,000" "$2,542,500" "$3,732,500" "$1,522,500" ...
  ..$ Suspended         : chr [1:30] "0-" "$507,500" "0-" "0-" ...
  ..$ 2015 Total Payroll: chr [1:30] "$301,735,080" "$222,528,373" "$186,413,630" "$183,481,478" ...
  ..$ Rank              : int [1:30] 1 2 3 4 5 6 7 8 9 10 ...
 $ :'data.frame':	30 obs. of  9 variables:
  ..$ Team              : chr [1:30] "Los Angeles Dodgers" "New York Yankees" "Boston Red Sox" "Detroit Tigers" ...
  ..$ Roster            : chr [1:30] "40" "36" "35" "34" ...
  ..$ 25-Man Payroll    : chr [1:30] "$193,881,011" "$159,213,515" "$165,121,274" "$163,019,728" ...
  ..$ Injured Reserve   : chr [1:30] "$13,288,890" "$10,509,409" "$19,567,513" "$28,189,200" ...
  ..$ Retained          : chr [1:30] "$54,652,847" "$50,238,466" "$2,194,948" "$8,675,064" ...
  ..$ Buried            : chr [1:30] "$9,090,000" "$1,522,500" "$23,874,428" "$2,555,000" ...
  ..$ Suspended         : chr [1:30] "0-" "0-" "0-" "0-" ...
  ..$ 2016 Total Payroll: chr [1:30] "$268,745,494" "$220,743,376" "$207,758,836" "$200,179,285" ...
  ..$ Rank              : int [1:30] 1 2 3 4 5 6 7 8 9 10 ...
 $ :'data.frame':	30 obs. of  9 variables:
  ..$ Team              : chr [1:30] "Los Angeles Dodgers" "Boston Red Sox" "New York Yankees" "San Francisco Giants" ...
  ..$ Roster            : chr [1:30] "39" "38" "37" "35" ...
  ..$ 25-Man Payroll    : chr [1:30] "$184,284,091" "$172,158,546" "$164,826,896" "$171,792,784" ...
  ..$ Injured Reserve   : chr [1:30] "$22,654,516" "$5,941,108" "$7,867,680" "$7,219,058" ...
  ..$ Retained          : chr [1:30] "$41,492,656" "$30,597,474" "$36,170,687" "$6,354,972" ...
  ..$ Buried            : chr [1:30] "$11,675,000" "$2,605,000" "$2,305,000" "$6,605,000" ...
  ..$ Suspended         : chr [1:30] "0-" "0-" "0-" "0-" ...
  ..$ 2017 Total Payroll: chr [1:30] "$259,119,625" "$209,872,508" "$209,690,952" "$189,806,809" ...
  ..$ Rank              : int [1:30] 1 2 3 4 5 6 7 8 9 10 ...
 $ :'data.frame':	30 obs. of  9 variables:
  ..$ Team              : chr [1:30] "Boston Red Sox" "San Francisco Giants" "Los Angeles Dodgers" "Chicago Cubs" ...
  ..$ Roster            : chr [1:30] "36" "32" "40" "37" ...
  ..$ 25-Man Payroll    : chr [1:30] "$167,955,780" "$119,689,218" "$160,502,596" "$152,092,957" ...
  ..$ Injured Reserve   : chr [1:30] "$18,074,000" "$64,341,827" "$3,908,850" "$37,451,220" ...
  ..$ Retained          : chr [1:30] "$41,755,860" "$21,136,053" "$30,541,679" "$1,216,894" ...
  ..$ Buried            : chr [1:30] "$2,180,000" "$3,283,000" "$5,590,000" "$2,725,000" ...
  ..$ Suspended         : chr [1:30] "0-" "0-" "0-" "$3,200,000" ...
  ..$ 2018 Total Payroll: chr [1:30] "$227,398,860" "$205,665,348" "$199,582,045" "$194,259,933" ...
  ..$ Rank              : int [1:30] 1 2 3 4 5 6 7 8 9 10 ...
 $ :'data.frame':	30 obs. of  9 variables:
  ..$ Team              : chr [1:30] "Boston Red Sox" "Chicago Cubs" "New York Yankees" "Los Angeles Dodgers" ...
  ..$ Roster            : chr [1:30] "25" "26" "25" "25" ...
  ..$ 25-Man Payroll    : chr [1:30] "$164,370,010" "$191,581,349" "$125,186,033" "$144,801,554" ...
  ..$ Injured Reserve   : chr [1:30] "$41,275,000" "$14,484,500" "$81,688,167" "$7,210,000" ...
  ..$ Retained          : chr [1:30] "$19,092,948" "0-" "$2,000,000" "$39,054,546" ...
  ..$ Buried            : chr [1:30] "$3,342,500" "$10,369,000" "$1,722,100" "$8,340,000" ...
  ..$ Suspended         : chr [1:30] "$1,375,000" "0-" "0-" "0-" ...
  ..$ 2019 Total Payroll: chr [1:30] "$225,105,301" "$210,834,914" "$209,024,551" "$196,767,856" ...
  ..$ Rank              : int [1:30] 1 2 3 4 5 6 7 8 9 10 ...

In [5]:
x[[1]][[1]]

 [1] "New York Yankees"              "Boston Red Sox"
 [3] "Philadelphia Phillies"         "Los Angeles Angels of Anaheim"
 [5] "New York Mets"                 "Chicago Cubs"
 [7] "Chicago White Sox"             "San Francisco Giants"
 [9] "Los Angeles Dodgers"           "St. Louis Cardinals"
[11] "Minnesota Twins"               "Detroit Tigers"
[13] "Texas Rangers"                 "Seattle Mariners"
[15] "Atlanta Braves"                "Baltimore Orioles"
[17] "Milwaukee Brewers"             "Houston Astros"
[19] "Colorado Rockies"              "Cincinnati Reds"
[21] "Oakland Athletics"             "Washington Nationals"
[23] "Toronto Blue Jays"             "Arizona Diamondbacks"
[25] "Florida Marlins"               "Cleveland Indians"
[27] "Pittsburgh Pirates"            "San Diego Padres"
[29] "Tampa Bay Rays"                "Kansas City Royals"

In [6]:
# ouptut with excel form 
# just try 2011
getwd()
write.table(each_year_payrol[1],"2011.csv",sep=",",row.names = FALSE)

[1] "D:/jupyter notebook 工作區/棒球球員薪資數據"

In [7]:
# ouptut with excel form every year
for (i in 1 : length(each_year_payrol)){
    year <- as.character(2010 + i)
    file_name <- paste(year,".csv",sep="")
    write.table(each_year_payrol[i],file_name,sep=",",row.names = FALSE)
}