# 戰績與薪資組合的資料清洗
* Name
* 勝場數(W)
* ln(總薪資)
* 薪資標準差

## 匯入套件

In [83]:
library(dplyr)
library(ggplot2)
library(readr)
library(stringr)

## 更改工作路徑

## 讀取資料
### 需要csv :
   * 球隊薪資:  X25.Man.Payroll  ,Team
   * 戰績 : W
   * 25人名單薪資 : Base Salary 取標準差

In [88]:
# define a function to read "25人名單薪資" csv
# get the MLB Team name :

Team_name <- read.csv("球隊薪資\\2018.csv")[,1]

# define a function to read "25人名單薪資" csv
for (i in (2011:2018)){
    data <- data.frame(matrix(ncol = 3))
    colnames(data) <- c("Team","Base.Salary.sd","year")
    for (j in Team_name){
        rd <- read.csv(paste("25人名單薪資\\", j, " ", toString(i), ".csv", sep=""))
        
        tmp_row <- c(toString(j),sd(rd[,"Base.Salary"]),1)
        data <- rbind(data,tmp_row,deparse.level = 0)
    }
    data <- data[complete.cases(data),]
    data <- data %>% mutate("year" = i)
    
    if(i == 2011){
        data1 <- data
    }
    else{
       data1 <- rbind(data1,data) 
    }
}
data1 <- data1 %>% arrange(year,Team)



# 戰績

for (i in (2011 : 2018)){
    rd <- read.csv(paste("戰績\\", toString(i), ".csv", sep = ""))
    Team_win <- rd[, c("Name","W")] %>% mutate(year = i)
    colnames(Team_win)[1] <- "Team"
    if(i ==2011){
        data2 <- Team_win
    }
    else{
        data2 <- rbind(data2, Team_win)
    }
}

data2 <- data2 %>% arrange(year,Team)

# 球隊總薪資
for (i in (2011:2018)){
    rd <-  read.csv(paste("球隊薪資\\",toString(i),".csv",sep = ""))
    Team_Tsalary <- rd[,c("Team","X25.Man.Payroll")] %>% mutate(year = i)
    if(i == 2011){
        data3 <- Team_Tsalary
    }
    else{
        data3 <- rbind(data3,Team_Tsalary)
    }
}
data3 <- data3 %>% arrange(year,Team)
data3 <- data3[-41,]
#print(data3 %>% group_by(year) %>%summarize(n()))



# 合併data.frame:
final_data <- left_join(data1,data2,by = c("Team","year")) %>% left_join(data3,by = c("Team","year"))
print(final_data)

Warning message:
"Column `Team` joining character vector and factor, coercing into character vector"Warning message:
"Column `Team` joining character vector and factor, coercing into character vector"

                     Team   Base.Salary.sd year   W X25.Man.Payroll
1    Arizona Diamondbacks 1681813.70790227 2011  94        57930520
2          Atlanta Braves 3520503.06342145 2011  89        98521630
3       Baltimore Orioles 2705277.80352206 2011  69        94391741
4          Boston Red Sox 4807338.82772297 2011  90       164517590
5            Chicago Cubs 4922655.77007333 2011  71       124652698
6       Chicago White Sox 4321718.95102709 2011  79       123584951
7         Cincinnati Reds 2864391.96873726 2011  79        79612874
8       Cleveland Indians 2311945.19844568 2011  80        55960593
9        Colorado Rockies 2691358.96764276 2011  73        77731972
10         Detroit Tigers 4768305.19457086 2011  95       111271015
11         Houston Astros 3263439.33304846 2011  56        72098000
12     Kansas City Royals 1056986.78198479 2011  71        38803600
13     Los Angeles Angels 5348049.05156027 2011  86       133613959
14    Los Angeles Dodgers 2668712.84041314 2011  82        98679615
15          Miami Marlins 2565815.99890637 2011  NA              NA
16      Milwaukee Brewers 3591653.79284341 2011  96        92127802
17        Minnesota Twins 5318124.01788274 2011  63       106871000
18          New York Mets  5159660.6536315 2011  77        96163418
19       New York Yankees 7606004.18181098 2011  97       212609678
20      Oakland Athletics 1886021.43359502 2011  74        69967475
21  Philadelphia Phillies 5840720.59076457 2011 102       169799882
22     Pittsburgh Pirates 1380151.28928431 2011  72        46784667
23       San Diego Padres 1752632.61080877 2011  71        47418810
24   San Francisco Giants 4911984.83430915 2011  86       124882250
25       Seattle Mariners 3631031.66869887 2011  67        88907834
26    St. Louis Cardinals 4911420.75888258 2011  90       113348748
27         Tampa Bay Rays 1377322.68800448 2011  91        45728532
28          Texas Rangers 3567202.87930154 2011  96        99272920
29      Toronto Blue Jays 1688880.65149937 2011  81        56304461
30   Washington Nationals 2312507.84156719 2011  NA        72988723
31   Arizona Diamondbacks 2154871.23596691 2012  81        73439259
32         Atlanta Braves 3446674.27104549 2012  94        86492616
33      Baltimore Orioles 2785527.44835673 2012  93        80099381
34         Boston Red Sox 5381651.05649693 2012  69       168455280
35           Chicago Cubs 2974752.25622643 2012  61        83799366
36      Chicago White Sox 4613529.79677569 2012  85       108250892
37        Cincinnati Reds 2803191.20660651 2012  97        89101498
38      Cleveland Indians 2142986.83327733 2012  68        71325549
39       Colorado Rockies 2728580.83278081 2012  64        77376456
40         Detroit Tigers 5750334.39986064 2012  88       138762284
41         Houston Astros 301220.886435933 2012  55        23728500
42     Kansas City Royals 1976411.79407773 2012  72        66385000
43     Los Angeles Angels 5562630.57956896 2012  89              NA
44    Los Angeles Dodgers  3747483.2021308 2012  86       112952717
45          Miami Marlins 4064887.13691997 2012  69        81018688
46      Milwaukee Brewers 3251166.91756294 2012  83       108461584
47        Minnesota Twins 4025391.20875268 2012  66       109130327
48          New York Mets 4744581.91509844 2012  74       101930952
49       New York Yankees 7367774.77087206 2012  95       214396932
50      Oakland Athletics 1849377.35368558 2012  94        56723737
51  Philadelphia Phillies 6009748.06853916 2012  81       169582490
52     Pittsburgh Pirates 2643376.80551116 2012  79        58617066
53       San Diego Padres 1860475.72282902 2012  76        60061913
54   San Francisco Giants 4737855.69631633 2012  94       122825338
55       Seattle Mariners 3169327.63230769 2012  75        73220850
56    St. Louis Cardinals 4219643.98516299 2012  88       118985685
57         Tampa Bay Rays 2080534.76201164 2012  90        68232330
58          Texas Rangers 4458993.08994166 2012  93       134976346
59      Toronto Blue Jays  2635589.7535799 2012  73        90559953
60   Washington Nationals 3175566.86535185 2012  98        95836048
61   Arizona Diamondbacks 2719199.30204159 2013  81        75126043
62         Atlanta Braves 3804081.69145079 2013  96        86661842
63      Baltimore Orioles 3312740.85491076 2013  85        96366019
64         Boston Red Sox  4810827.2091165 2013  97       155978895
65           Chicago Cubs 2076365.14164971 2013  66        48057243
66      Chicago White Sox 4145967.40887603 2013  63        82929539
67        Cincinnati Reds 3650630.59529659 2013  90        97657483
68      Cleveland Indians 2801089.58430869 2013  92        68279465
69       Colorado Rockies 2922964.91143527 2013  74        74020354
70         Detroit Tigers 6378016.29052226 2013  93       145423867
71         Houston Astros 114534.014647892 2013  51        11675066
72     Kansas City Royals 3054164.10520966 2013  86        75494673
73     Los Angeles Angels 4831220.03984263 2013  78              NA
74    Los Angeles Dodgers  6791414.3383328 2013  92       207344759
75          Miami Marlins 517100.104851058 2013  62        23618327
76      Milwaukee Brewers  2898617.6960034 2013  74        69142690
77        Minnesota Twins 3978119.41973177 2013  66        56942945
78          New York Mets 2119878.24177842 2013  74        44861236
79       New York Yankees 8109645.24360674 2013  85       207768301
80      Oakland Athletics 2376014.88729884 2013  96        62190572
81  Philadelphia Phillies 6768800.59518179 2013  73       153273261
82     Pittsburgh Pirates 3702666.81022037 2013  94        65262905
83       San Diego Padres  2229082.8580375 2013  76        63615894
84   San Francisco Giants 5826002.22838012 2013  76       135382980
85       Seattle Mariners 3583893.13677583 2013  71        63266296
86    St. Louis Cardinals 4370693.26816481 2013  97        95053922
87         Tampa Bay Rays 2081031.15899583 2013  92        67029393
88          Texas Rangers 4255559.27100403 2013  91       114162497
89      Toronto Blue Jays 3824816.89440735 2013  74       118289792
90   Washington Nationals 4263553.72343531 2013  86       110761470
91   Arizona Diamondbacks 2760211.67897732 2014  64        68514917
92         Atlanta Braves 3736112.53464638 2014  79       102713304
93      Baltimore Orioles 4005197.96161732 2014  96       105470318
94         Boston Red Sox 4485453.69768889 2014  71        95417971
95           Chicago Cubs 2014909.37857668 2014  73        53604470
96      Chicago White Sox 3091445.37739192 2014  73        60305897
97        Cincinnati Reds 3668165.66109369 2014  76        99229931
98      Cleveland Indians 3384996.18148032 2014  85        59720646
99       Colorado Rockies   3802599.402371 2014  66        96456583
100        Detroit Tigers 6214280.16959896 2014  90       147009969
101        Houston Astros 2169681.12570825 2014  70        41637464
102    Kansas City Royals 3269462.92718443 2014  89        90536848
103    Los Angeles Angels 5290717.42177291 2014  98              NA
104   Los Angeles Dodgers 7283147.84288319 2014  94       234067142
105         Miami Marlins 1483054.73485941 2014  77        39231780
106     Milwaukee Brewers 4377523.55937203 2014  82       108174589
107       Minnesota Twins 4425823.30366536 2014  70        72140448
108         New York Mets 4215360.80957195 2014  79        73675535
109      New York Yankees 7574197.10317127 2014  84       198020464
110     Oakland Athletics 2860583.57110232 2014  88        65760582
111 Philadelphia Phillies 6684768.83817441 2014  73       145123014
112    Pittsburgh Pirates 2517167.28920188 2014  88        68883439
113      San Diego Padres 2292792.37688166 2014  77        67296350
114  San Francisco Giants  5204653.8630402 2014  88       152735333
115      Seattle Mariners 5373950.08962583 2014  87        98030060
116   St. Louis Cardinals 5589904.45744228 2014  90       114533043
117        Tampa Bay Rays 2177560.22028059 2014  77        63704707
118         Texas Rangers 4981777.97014837 2014  67       129809240
119     Toronto Blue Jays 4869205.85553626 2014  83       122125961
120  Washington Nationals 4761861.06883188 2014  96       149257210
121  Arizona Diamondbacks 2047253.63563353 2015  79        45142733
122        Atlanta Braves 2530201.22460017 2015  67        55022799
123     Baltimore Orioles 3786916.84064869 2015  81        93958315
124        Boston Red Sox 4713640.39229222 2015  78        95030446
125          Chicago Cubs  3519057.1249339 2015  97       106652384
126     Chicago White Sox  4016320.7612701 2015  76        94365735
127       Cincinnati Reds 3588323.12004724 2015  64        68445559
128     Cleveland Indians 1445623.36480919 2015  81        45520977
129      Colorado Rockies 3527170.09597699 2015  68        74930648
130        Detroit Tigers  6369577.0078675 2015  74       109879336
131        Houston Astros 2266582.54284894 2015  86        64818398
132    Kansas City Royals 3371352.04608114 2015  95       111740891
133    Los Angeles Angels 4850242.85948705 2015  85       106512083
134   Los Angeles Dodgers 7580597.81698202 2015  92       199977688
135         Miami Marlins  1899537.1469734 2015  71        28171144
136     Milwaukee Brewers 3421046.89758057 2015  68        58772714
137       Minnesota Twins 4967323.18931814 2015  83       101448147
138         New York Mets 4659160.10133623 2015  90       102480260
139      New York Yankees 7157332.52789368 2015  87       187271441
140     Oakland Athletics 2041139.09644578 2015  68        41897450
141 Philadelphia Phillies 4467816.87418051 2015  63        52800331
142    Pittsburgh Pirates 2941719.80888928 2015  98        81904030
143      San Diego Padres  5012108.9362427 2015  74        93212255
144  San Francisco Giants 4623117.04934259 2015  84       133109385
145      Seattle Mariners   6110475.687555 2015  76        95874782
146   St. Louis Cardinals 5086684.46016343 2015 100       128814787
147        Tampa Bay Rays 2375028.80090225 2015  80        52092948
148         Texas Rangers 5685282.70379413 2015  88       124525876
149     Toronto Blue Jays 4437668.00800461 2015  93       106426104
150  Washington Nationals 5382842.49565097 2015  83       146009803
151  Arizona Diamondbacks 5205481.47924923 2016  69        78823003
152        Atlanta Braves 4262603.85795994 2016  68        46917344
153     Baltimore Orioles 5156268.98069336 2016  89       144461083
154        Boston Red Sox 7491033.75325709 2016  93       165121274
155          Chicago Cubs 5375050.09744095 2016 103       161378832
156     Chicago White Sox 4737949.96147015 2016  78        88724466
157       Cincinnati Reds 5029405.09336028 2016  68        63783665
158     Cleveland Indians 2786175.83855782 2016  94        61284062
159      Colorado Rockies 3570561.33426409 2016  75        88354041
160        Detroit Tigers 7429223.38194401 2016  86       163019728
161        Houston Astros 3300929.64262651 2016  84        75441606
162    Kansas City Royals 3467538.36373102 2016  81       106349212
163    Los Angeles Angels 6078592.08678916 2016  74        89878997
164   Los Angeles Dodgers 6873339.25745535 2016  91       193881011
165         Miami Marlins 2527199.06818898 2016  79        61342038
166     Milwaukee Brewers 3670363.62498506 2016  73        49464613
167       Minnesota Twins 4678617.14631877 2016  59        61165450
168         New York Mets  4345030.9146152 2016  87       101798286
169      New York Yankees 7600675.14400188 2016  84       159213515
170     Oakland Athletics 1312585.46284187 2016  69        27854151
171 Philadelphia Phillies 4159413.02548708 2016  71        53797706
172    Pittsburgh Pirates 2400577.94232074 2016  78        57311465
173      San Diego Padres 1045657.96561726 2016  68        21580892
174  San Francisco Giants 5981946.39109981 2016  87       176177032
175      Seattle Mariners 6188892.52144246 2016  86       131833221
176   St. Louis Cardinals 5292439.21387291 2016  86       132790389
177        Tampa Bay Rays  2159571.5040606 2016  68        36226000
178         Texas Rangers 6271364.58799279 2016  95       134724626
179     Toronto Blue Jays 5749775.43157053 2016  89       138232539
180  Washington Nationals 5146339.23739352 2016  95       119216458
181  Arizona Diamondbacks 5471541.22384308 2017  93        81644775
182        Atlanta Braves  5100474.3545568 2017  72        80713434
183     Baltimore Orioles 5673796.38467102 2017  75       163655046
184        Boston Red Sox 6966881.50708203 2017  93       172158546
185          Chicago Cubs 6054426.73350901 2017  92       161127834
186     Chicago White Sox 4124393.05534766 2017  67        32540383
187       Cincinnati Reds 4742473.78746471 2017  68        64567947
188     Cleveland Indians 3812517.29969129 2017 102       115772319
189      Colorado Rockies 4199566.15546388 2017  87       105029084
190        Detroit Tigers 6068896.37938793 2017  64        90755330
191        Houston Astros  6133567.1851595 2017 101       132536382
192    Kansas City Royals 4643948.67884071 2017  80       125678691
193    Los Angeles Angels 6630139.35063386 2017  80       109185825
194   Los Angeles Dodgers 7137040.25514612 2017 104       184284091
195         Miami Marlins 3236896.53411731 2017  77        72360311
196     Milwaukee Brewers 4561126.22671766 2017  86        57578930
197       Minnesota Twins  4609972.9363072 2017  85        75616449
198         New York Mets 2279210.21121245 2017  70        48736470
199      New York Yankees 7129157.09373307 2017  91       164826896
200     Oakland Athletics 1577162.55433707 2017  75        31723817
201 Philadelphia Phillies 1042388.27604471 2017  66        23135934
202    Pittsburgh Pirates 2961862.72285594 2017  75        64196313
203      San Diego Padres 540043.523186311 2017  71        24930424
204  San Francisco Giants 6957124.71073764 2017  64       171792784
205      Seattle Mariners 6540963.49759015 2017  78       126620983
206   St. Louis Cardinals 4612544.64811191 2017  83       107961954
207        Tampa Bay Rays 2452625.52368448 2017  80        63018694
208         Texas Rangers 6073166.79656328 2017  78       126365185
209     Toronto Blue Jays 5979318.82617427 2017  76       125422069
210  Washington Nationals 5709156.93952157 2017  97       164539852
211  Arizona Diamondbacks  5492257.8424221 2018  82       109501628
212        Atlanta Braves 3910875.00193765 2018  90        73567565
213     Baltimore Orioles 4252284.63062345 2018  47        69691407
214        Boston Red Sox 7181082.85087361 2018 108       167955780
215          Chicago Cubs  6878231.8316332 2018  95       152092957
216     Chicago White Sox 4329486.27474736 2018  62        57261542
217       Cincinnati Reds 5708632.44287247 2018  67        82511299
218     Cleveland Indians  5542022.8901389 2018  91       123670545
219      Colorado Rockies 5598293.70865082 2018  91       131213168
220        Detroit Tigers 5040310.77923276 2018  64        67047516
221        Houston Astros 5933639.96726386 2018 103       158520510
222    Kansas City Royals 5150069.70023808 2018  58        83618228
223    Los Angeles Angels  6113672.9531009 2018  80        91914083
224   Los Angeles Dodgers 6880199.17597752 2018  92       160502596
225         Miami Marlins 2388208.33775367 2018  63        43033514
226     Milwaukee Brewers 4226410.62000099 2018  96        89888839
227       Minnesota Twins 4241236.38707418 2018  78        56254373
228         New York Mets 4459997.08220887 2018  77        82655203
229      New York Yankees  6604343.9979559 2018 100       148010829
230     Oakland Athletics 2624256.90362405 2018  97        61525657
231 Philadelphia Phillies 5476124.36199589 2018  80        97016347
232    Pittsburgh Pirates 3091648.12495941 2018  82        67576415
233      San Diego Padres 3510068.35938786 2018  66        50169797
234  San Francisco Giants 5390440.39735339 2018  73       119689218
235      Seattle Mariners 6804130.64415293 2018  89       136839663
236   St. Louis Cardinals 5324494.74573193 2018  88       113991329
237        Tampa Bay Rays 1066118.78764899 2018  90        25668988
238         Texas Rangers 5065960.05048924 2018  67        96239016
239     Toronto Blue Jays  4098035.5410954 2018  73        81293347
240  Washington Nationals 5724980.00131548 2018  82       130197979