# 清洗個年度戰績excel , 並匯出

## 匯入套件

In [18]:
library(readr)
library(dplyr)

## 更改工作路徑

In [19]:
setwd("D://github 工作區//MLB-baseball//各年度戰績")
dir()

[1] "2011.csv" "2012.csv" "2013.csv" "2014.csv" "2015.csv" "2016.csv" "2017.csv"
[8] "2018.csv"

## 讀取excel並清洗

In [47]:
dirty_excel <- dir()
# define a function to clean csv file,and output the tidy one

clean <- function(file){
    rd <- read.csv(file,encoding = "ASCII")
    # clean the colnames
    if(file != '2011.csv'){
        colnames(rd)[1] <- "Name"
    }
    # clean the Name column
    # wainting to get the string in half
    # how to deal with the UTF-8
    rd <- rd %>% mutate(Name = mapply(sub,pattern = ".*?([A-Z])",replacement = "\\1",rd[,"Name"])) 
    rd <- rd %>% mutate(Name = sapply(rd[,"Name"],function(x){strtrim(x,width = (nchar(x) / 2))})) 
    rd <- rd %>% mutate(L10 = sapply(rd[,"L10"],gsub,pattern = "月",replacement = "_"))
    rd <- rd %>% mutate(L10 = sapply(rd[,"L10"],gsub,pattern = "日",replacement = ""))
    rd <- rd %>% mutate(L10 = unname(rd[,"L10"]))
    return(rd)
    
}
x <- suppressWarnings(clean('2012.csv'))
head(x)
# L10 column need to be fixed

  Name                 W  L  PCT   GB HOME  AWAY  RS  RA  DIFF STRK L10
1 Washington Nationals 98 64 0.605 -  50-31 48-33 731 594 137  W2   6_4
2 Cincinnati Reds      97 65 0.599 1  50-31 47-34 669 588  81  L1   5_5
3 New York Yankees     95 67 0.586 3  51-30 44-37 804 668 136  W4   7_3
4 Oakland Athletics    94 68 0.580 4  50-31 44-37 713 614  99  W6   8_2
5 San Francisco Giants 94 68 0.580 4  48-33 46-35 718 649  69  L1   5_5
6 Atlanta Braves       94 68 0.580 4  48-33 46-35 700 600 100  W1   7_3

In [43]:
# 2011.csv has been tailored manually
csv <- dir()[-1]
print(csv)

[1] "2012.csv" "2013.csv" "2014.csv" "2015.csv" "2016.csv" "2017.csv" "2018.csv"

# output the clean csv

In [44]:
for (i in csv){
    file_name <- paste("D:\\github 工作區\\MLB-baseball\\新各年各隊戰績","\\",i,sep="")
    write.table(clean(i),file_name,sep = ",",row.names = FALSE)
}